.title{
    background-color: rgb(120, 169, 248);
    border-radius: 25px;
    border:2px solid red ;

}

.hayvonlarni{

color: red;


}

.assalom{

color: rgb(80, 133, 0);


}

.fakt{
    background-color: yellow;
    color: green;
    height: 25px;

text-align: center;
}


.korish{
text-align: center;
background-color: yellow;
color: green;


}


.lion{

background-color: black;

}

.qora{

border-radius: 10px;

}

.sevimli{

color: green;

}

.jadval{
background-color: rgb(241, 255, 50);
color: rgb(32, 223, 6);
}





